.setup_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
  min-height: 100%;
  gap: 1em;
}
.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
}
