.recompensas_sectionContainer h3{
    font-size: 1em;
    text-align: left;
}
.recompensas_sectionContainer-pequeno h3{
    font-size: 1em;
    text-align: left;
}
.recompensas_sectionContainer-pequeno{
    display:inline;
}
.casatroca_container{
    padding: 0 1.5em;
    display:flex;
    flex-direction: column;
    height: 70%;
    width:100%;
    margin-top:-20px;
}
.casa_images{
    display: flex;
    margin: 10px 0;
    gap: 20px;
}
.casal_container{
    margin: 20px 0 ;
    text-align: left;
}
.casal_container h5{
    font-weight: normal;
}
.casatroca_tagName{
    background: #C4C4C4;
    padding: 3px 5px;
    color:white;
    margin-top: 10px;
    font-size: .8em;
}

.casatroca_tagsContainer{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom: 10px;
}