.filtro_container {
  position: absolute;
  color: #7041ee;
  top: 0;
  right: 0;
  background-color: #8a8a8a;
  font-size: 1.5em;
  text-align: right;
  z-index: 10;
  overflow: visible !important;
}
.filtro_container-active {
  margin-top: 10px;
  width: 200px;
  background: #f9f9f9;
  box-shadow: 0px 0px 5.46789px rgba(0, 0, 0, 0.3);
  border-radius: 42.8678px 0px 0px 42.8318px;
  overflow: hidden;
  right: 0;
}
.noneDisplay {
  display: none !important;
}
.filtro_icon {
  margin: 15px 30px;
}

.menu_container {
  color: #8a8a8a;
  padding: 20px 30px;
  font-weight: bold;
  width: 100%;
  font-size: 0.6em;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}
.showMore_icon {
  transform: rotate(180deg);
}
.menu_container-final {
  color: #8a8a8a;

  font-weight: bold;
  padding: 20px 30px;
  width: 100%;
  font-size: 0.6em;
  background-color: white;
}
.menu_active {
  color: #7041ee;
}
.item_active {
  color: #7041ee !important;
}
.menu_active li {
  margin: 10px 0;
  color: #8a8a8a;
}
.menu_submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu_container svg {
  pointer-events: none;
}
