.user_name{
    font-weight: bold;
    font-size:1.2em;
}
.user_img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px 2px #A6A6A6;
    object-fit: cover;
}
.user_container{
    width: 4em;
}