.Checkbox_container {
  border: 1px dashed #8a5eff;
  width: 1.8em;
  height: 1.8em;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.border_checked {
  border: 2px solid #8a5eff;
}
.points_type {
  position: absolute;
  right: 50%;
}
.gainPoints::before {
  content: "+3";
  font-size: 28px;
  font-weight: bolder;
  z-index: 500000;
  color: #1ecd8c;
  animation: slidedwon 0.5s ease-in-out forwards;
}
.losePoints::before {
  content: "-3";
  font-size: 28px;
  font-weight: bolder;
  z-index: 500000;
  color: #fa4f3b;
  animation: slidedwon 0.5s ease-in-out forwards;
}
.icon_checked {
  color: white;
  background-color: #8a5eff;
  padding: 2px;
  font-size: 1.7em;
}
@keyframes slidedwon {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(20px, 0);
  }
}
