.login_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 500px;
  min-height: 100%;
}
.logo {
  font-size: 52px;
  font-weight: 900;
}
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin: 10px 0;
}
