.home_container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  gap: 2em;
  min-height: 100%;
}
.home_container h3 {
  font-size: 20px;
  font-weight: 900;
}
.home_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7041ee;
}
.nav_icon {
  font-size: 2em;
  margin: 20px 0;
}
.main_container {
  background-image: url("../../assets/Forma.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
