.alert_icon{
    color: #7041EE;
    font-size:2.5em;
}
.alert_number{
    background-color: crimson;
    width: 1em;
    border-radius: 50%;
    color: white;
    position: absolute;
    top:0;
    right: 0;
}
.alert_container{
    margin-top: 10px;
    position: relative;
    width: 3em;
}