
.empresa_forumPost{
    border-bottom: 1px solid #EEEEEE;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 0 30px ;
}

.empresa_forumPost textarea{
    background: #FFFFFF;
    border: none;
    margin: 20px;
    width: 100%;
    height: 5em;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.card_comentario img{
    min-width: 60px;
}
.card_comentario{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: .8em;

    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
}
.container_comentario{
    display: flex;
    text-align: left;
    color: black;
    gap:20px;
}
.card_comentario h3{
   
    color: black;
    font-size: 1em;

}
.comentario_titulo{
    display: flex;
    justify-content: space-between;
}
.like_icon{
    color: gold;
}
.comentario_rodape{
    font-size: .8em;
    display: flex;
    padding-top: 10px ;
    justify-content: space-between;
}
.comment_icon{
    font-size: 1.5em;
    color:#7041EE;
}